div.hours,
div.minutes,
div.seconds,
div.separator {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
}

.container * {
  margin-right: 4px;
  margin-left: 4px;
}

.hours-fixed,
.minutes-fixed {
  margin-top: 50px;
}

.separator {
  margin-top: 50px;
}

.hours,
.minutes,
.seconds {
  overflow: hidden;
  height: 130px;
}

.move-prev {
  animation-duration: 1s;
  animation-name: moveprev;
}

.move-next {
  animation-duration: 1s;
  animation-name: movenext;
}

@keyframes moveprev {
  0%,
  50%,
  75% {
    margin-top: 50px;
    opacity: 1;
  }

  100% {
    margin-top: -10px;
    opacity: 0.1;
  }
}

@keyframes movenext {
  0%,
  50%,
  75%,
  90% {
    margin-top: 150px;
    opacity: 0.1;
  }

  100% {
    margin-top: 50px;
    opacity: 0.5;
  }
}
