body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
}

.container {
  display: flex;
  flex-direction: row;
}

.container * {
  margin-left: 4px;
  margin-right: 4px;
}

.hours-fixed,
.minutes-fixed {
  margin-top: 50px;
}

.separator {
  margin-top: 45px;
}

.hours,
.minutes,
.seconds {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 150px;
}

.move-prev {
  animation-duration: 1s;
  animation-name: moveprev;
}

.move-next {
  animation-duration: 1s;
  animation-name: movenext;
}

@keyframes moveprev {
  0%,
  50%,
  75% {
    margin-top: 50px;
    opacity: 1;
  }

  100% {
    margin-top: 0px;
    opacity: 0.1;
  }
}

@keyframes movenext {
  0%,
  50%,
  75%,
  90% {
    margin-top: 100px;
    opacity: 0.1;
  }

  100% {
    margin-top: 50px;
    opacity: 0.5;
  }
}
