.container-meetings {
  width: 600px;
  height: 600px;
  margin: auto;
  border: 1px solid black;
}

.container-meetings-cards {
  margin: auto;
  margin-top: 20px;
  width: 500px;
  height: 550px;
  border: 1px solid gray;
}

.meeting-box {
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  display: flex;
}

.meeting {
  width: 418px;
  background-color: red;
  border-radius: 5px;
}

.no-meeting {
  width: 418px;
  background-color: white;
  border-radius: 5px;
}

.display-time {
  width: 80px;
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}
