.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  width: 80%;
  padding: 5px;
  background-color: azure;
  box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
}

.reply-box {
  width: 80%;
  padding: 5px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
}

button {
  border: none;
  box-shadow: 0 4px 50px rgb(0 0 0 / 15%);
  margin: 0px 10px;
  background-color: white;
  cursor: pointer;
  margin: 5px;
}

.box * {
  padding: 1px;
}
